# Ignore Files
CMakeLists.txt

#Ignore Filetypes

*.iml
*.project
SET_Project.zip
SET_SourceCode.zip

#Ignore Folders
output/
out/
logs/
posters/
poster/
.idea/*
target/
cmake-build-debug/
SET_Project
*.idea
*.idea/

#Rule Exceptions
!logs/.gitkeep
!logs/
!.idea/
!*.idea/runConfigurations/