# Ignore Files
CMakeLists.txt

#Ignore Filetypes
*.idea
*.idea/
*.iml
*.project

#Ignore Folders
output/
out/
logs/*
posters/
poster/
idea/
target/
cmake-build-debug/
SET_Project
SET_Project.zip
SET_SourceCode.zip

#Rule Exceptions
!logs/.gitkeep
!*.idea/runConfigurations/*